html {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0C0910;
}

.calculator {
    border-radius: 5%;
    border: solid 5px;
    background: #5C5D8D;
    height: 700px;
    width: 500px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
}

.screen {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #ffff;
    width: 460px;
    height: 80px;
    border-radius: 5px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstline {
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondline {
    display: flex;
    justify-content: center;
    align-items: center;
}
.thirdline {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourthline {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fifthline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 5px;
    margin: 5px;
    width: 107px;
    height: 107px;
    background: #69747C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 6px 8px gray;
}

.btn:active {
    transform: translateY(4px);
    box-shadow: 0 1px 1px gray;
}

#doublenumber {
    background: #FFF7F8;
    width: 223px;
}

.btn-number {
    background: #FFF7F8;
}

#equality {
    background: #FF0000;
}